/*ody {*/
/*    font-family: 'Palatino Linotype', serif;*/
/*    max-width: 600px;*/
/*    padding: 0 30px;*/
/*}*/
.wrapper {
    width:600px;
    /*height:350px;*/
    margin:0 auto;
    /*background: #369;*/
}
h1 {
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

fieldset {
    margin-bottom: 15px;
    padding: 10px;
}

legend {
    padding: 0 3px;
    font-weight: bold;
    font-variant: small-caps;
    /*background-color: red;*/
}

label {
    /*width:110px;*/
    display: inline-block;
    vertical-align: 0;
    margin: 6px;
    padding: 0;
    /*background-color: blue;*/
}

.box4 {
    width: 10px;
    /*height: 5px;*/
    display: inline-block;
    vertical-align: 0;
    margin: 10px;
    padding: 0;
    background-color: yellow;
}
.box0 {
    width: 10px;
    display: inline-block;
    vertical-align: 0;
    margin: 0;
    padding: 0;
    /*background-color: yellow;*/
}
.box1 {
    width: 60px;
    display: inline-block;
    vertical-align: 0;
    margin: 0;
    padding: 0;
    /*background-color: yellow;*/
}

.box2 {
    display: inline-block;
    width: 40px;
    height: 2px;
    padding: 0;
    /*border: 1px solid blue;*/
    /*background-color: blueviolet;*/
}

.box3 {
    display: inline-block;
    width: 20px;
    height: 2px;
    padding: 0;
    /*border: 1px solid blue;*/
    /*background-color: aquamarine;*/
}

em {
    font-weight: bold;
    font-style: normal;
    color: #ff0000;
}

input:focus {
    background: #eaeaea;
}

input {
    width: 250px;
}

textarea {
    height: 100px;
    width: 350px;
}

.select1 {
    overflow: scroll; /* Добавляем полосы прокрутки */
    width: 120px; /* Ширина блока */
    height: 70px; /* Высота блока */
    padding: 5px; /* Поля вокруг текста */
    border: solid 1px black; /* Параметры рамки */
}

select {
    width: 254px;
}

input[type=checkbox] {
    width: 10px;
}

input[type=submit] {
    width: 170px;
    padding: 10px;
}
/*вертикальний повзунок*/
/*input.vertical { -webkit-appearance: slider-vertical;  writing-mode: bt-lr; }*/
/*<input type=range min=0 max=100 value=50 class=vertical orient=vertical>*/

.Label {
    display: inline-block;
    width: 125px;
}